.boton{
    padding: 14px;
    background-color: var(--color-medium);
    color: var(--color-white);
    border-radius: 35px;
    border: 0;
    font-weight: 700;
    cursor: pointer;
    transition: background-color .25s ease-in-out;
    &:hover{
        background-color: var(--color)
    }
}