@import "fonts/fonts/icons/style.css";

:root {
    --color-white: #FFFFFF;
    --color: #ff5400;
    --color-link-hover: #ffa700;
    --color-very-light: #b7b7b7;
    --color-light: #909090;
    --color-medium-light: #6d6d6d;
    --color-medium: #3d3d3d;
    --color-medium-dark: #323232;
    --color-dark: #272727;
    --color-very-dark: #1d1d1d;
    --color-ultra-dark: #101010;
}

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #0d6efd;
    --bs-link-hover-color: #0a58ca;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
}

body {
    background-color: var(--color-dark);
    font-size: 15px;
    color: var(--color-light);
    font-family: Roboto;
    margin: 0;
    overflow-x: hidden;
}
  
a {
    text-decoration: none;
    color: var(--color-white);
}

.btn {
    padding: 14px;
    background-color: var(--color-medium);
    color: var(--color-white);
    border-radius: 35px;
    border: 0;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out;
  }
.btn:hover {
    background-color: var(--color);
}

img {
    max-width: 100%;
}

.d-flex {
    display: flex !important;
}


.header {
    background-image: url("https://s3.gaming-cdn.com/images/homeDisplay/campaign-banner-639c26a3e2b83.jpg");
    height: 576px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.px-7 {
    padding-right: 24px !important;
    padding-left: 24px !important;
}


.justify-content-between {
    justify-content: space-between !important;
}

.py-5 {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.d-md-flex {
    display: flex !important;
}

.texto {
    font-size: 15px;
    color: var(--color-white);
}

.texto--logo {
    color: var(--color);
    font-size: 32px;
}

.justify-content-center {
    justify-content: center !important;
}

.pb-4 {
    padding-bottom: 10px !important;
}
  
.px-5 {
    padding-right: 12px !important;
    padding-left: 12px !important;
}

.texto-largo {
    font-size: 18px;
    color: var(--color-white);
}

.navegador-flechas {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    font-size: 8px;
}

.ms-4 {
    margin-left: 10px !important;
}
  

.navegador {
    display: flex;
    align-items: center;
    backdrop-filter: blur(60px) saturate(100%);
    -webkit-backdrop-filter: blur(60px) saturate(100%);
    background-color: transparent;
    border-radius: 40px;
    padding-left: 19px;
}

.navegador-elementos {
    position: relative;
    padding-right: 16px;
}


.align-items-center {
    align-items: center !important;
}

.mx-6 {
    margin-right: 16px !important;
    margin-left: 16px !important;
}
  
.py-7 {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}

.me-4 {
    margin-right: 10px !important;
}